.idea
medusa.iml
build
logos
signing.properties
cache.properties.lock
fileHashes.bin
fileSnapshots.bin
outputFileStates.bin
taskArtifacts.bin
otherResources
._*
.gradle
.DS_Store
/out
/.nb-gradle/
/src/main/java/eu/hansolo/medusa/MedusaTest.java
